/* Footer */

.footer {
	padding-top: 120px;
	padding-bottom: 53px;
	background-color: $dark-bg;
	text-align: center;

	.logo {
		margin-bottom: 16px;
		letter-spacing: 3.36px;
	}

	p {
		margin-bottom: 20px;
		font-weight: 400;
		font-size: 16px;
		letter-spacing: 1.6px;
		color: $white;
	}

	// Tablet
	@media (max-width: 1199px) {
		padding-top: 100px;
	}

	// Mobile
	@media (max-width: 899px) {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

.footer__social {
	margin: 0 auto;
	display: grid;
	gap: 10px;
	grid-auto-flow: column;
	justify-content: center;

	// Tablet
	@media (max-width: 1199px) {
		gap: 30px;
	}

	a {
		color: $general;
		transition: 0.3s linear;
		font-size: 16px;


		&:hover, &:focus {
			color: $blue;
		}

		// Tablet
		@media (max-width: 1199px) {
			font-size: 30px;

		}
	}
}