/* Section Step */

.step {
	padding-top: 80px;
	padding-bottom: 87px;
	
	// Tablet
	@media (max-width: 1199px) {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

.step__plan {
	position: relative;
	display: grid;
	grid-auto-flow: column;
	gap: 160px;
	justify-content: center;

	&::after {
		content: '';
		display: block;
		width: 777px;
		height: 99px;

		position: absolute;
		z-index: 1;
		top: -40px;
		left: 117px;

		background-image: url('../img/icons/shape.svg');
		background-repeat: no-repeat;

	}
	
	// Tablet
	@media (max-width: 1199px) {
		justify-content: space-between;
		&::after {
				display: none;
		}
	}

	// Mobile
	@media (max-width: 899px) {
		gap: 20px;
	}

	// Mobile XS
	@media (max-width: 599px) {
		grid-auto-flow: row;
		gap: 10px;
	}
}

.step__item {
	z-index: 2;
	display: grid;
	grid-template-rows: 99px auto;
	gap: 20px;

	text-align: center;
	font-weight: 400;
	font-size: 36px;
	line-height: 26px;

	
	// Tablet
	@media (max-width: 1199px) {
		font-size: 24px;
		gap: 10px;
	}

	// Mobile XS
	@media (max-width: 599px) {
		grid-template-rows: auto;
		grid-template-columns: 99px auto;
		align-items: center;
		justify-content: flex-start;
	}
}

.step__icon {
	margin: 0 auto;
	width: 99px;
	height: 99px;
	background: $dark-gray;
	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center;

	svg {
		position: relative;
		display: block;
		width: 62px;
		height: 63px;
	}

	.icon-search {
		width: 57px;
		height: 57px;
		fill: $blue;
	}

	.icon-select {
		fill: $red;
	}

	.icon-like {
		fill: $light-blue;
	}

}

