/* Button */

.button {
	position: relative;
	width: 228px;
	padding: 21px 40px;
	display: block;

	background: #5474FD;
	border: 2px solid $blue;
	
	font-family: 'Aleo';
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 1.4px;
	text-transform: uppercase;
	color: $white;
	text-decoration: none;
	text-align: center;

	transition: 0.3s linear;

	span {
		position: relative;
	}

	.main &::before {
		content: '';
		display: block;
		width: 109px;
		height: 60px;
		clip-path: polygon(0 0, 55% 0, 100% 100%, 0% 100%);
		background: #496BFE;

		position: absolute;
		top: 0;
		left: 0;
	}
	&:hover {
		box-shadow: 0 0 5px $white;
	}

	// Mobile XS
	@media (max-width: 599px) {
		width: auto;
	}
}
