/* Form */

.form {
	display: flex;	
}

.header__form {
	margin-bottom: 108px;
	transition: 0.3s linear;

	&:hover {
		box-shadow: 0 0 5px $white;
	}
}

.header__search {
	input {
		width: 503px;
		height: 63px;
		padding: 19px 113px;
		border: 2px solid $white;
		
		font-weight: 400;
		font-size: 14px;
		letter-spacing: 2.8px;
		
		outline: 0;
		
		&:placeholder-shown {
			color: $gray;
		}

		&:focus {
			box-shadow: 0 0 5px $white;
			border: 2px solid $blue;
		}
	}
}