/* Section general */

.section__title {
	font-family: 'Aleo';
	font-weight: 400;
	font-size: 36px;
	color: $white;
}
.section__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 1.6px;
}