/* Base */
html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Josefin Sans', sans-serif;
	color: $general;
}

/* Grid styles */

.container {
	width: 1110px;
	margin: 0 auto;
	padding-left: 45px;
	padding-right: 45px;

	// Tablet
	@media (max-width: 1199px) {
		width: 840px;
		padding-left: 30px;
		padding-right: 30px;
	}
	
	// Mobile
	@media (max-width: 899px) {
		width: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
}

/* Utility */

.none {
	display: none !important;
}

/* Sticky Footer */

.footer {
	margin-top: auto; /* sticky footer */
}
